<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
       <ion-back-button (click)="back()" ></ion-back-button>
    </ion-buttons>
    <ion-title>Order Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
       <ion-list slot="start">
           <ion-item lines="none">
              <ion-text color="dark">{{commande.cart.length}} products</ion-text>
           </ion-item>

           <ion-item lines="none">
                <ion-text color="primary">{{ commande.total  | currency: 'TND'}}</ion-text>
           </ion-item>
       </ion-list>

      <ion-list slot="end">
           <ion-item lines="none">
               <ion-text color="dark">Mode : {{commande.type}}</ion-text>
           </ion-item>

           <ion-item lines="none">
               <ion-text color="dark">Etat : {{commande.etat}} </ion-text>
            </ion-item>
      </ion-list>
    </ion-item>





  <ion-list>    
    <ion-label class="ion-padding">Items</ion-label>
    <ion-card *ngFor="let item of commande.cart">
         <ion-item>
            <ion-avatar slot="start" >
                 <img [src]="item.picture">
            </ion-avatar> 
           <ion-list slot="start">
                <ion-text color="dark">{{item.name }}</ion-text><br>
                <ion-text color="dark">Qte : {{item.amount }}</ion-text> 

           </ion-list>
           
        </ion-item>
  </ion-card>
</ion-list>

  <ion-button expand="full" *ngIf="commande.etat=='Confirmed'" (click)="DoneOrder()" >
    Done
  </ion-button>
 
</ion-content>
