.btn_cart{
    height: 50px;
    width: 60px;
  }
   
  .cart-icon {
    font-size: 25px;
  }
   
  .cart-length {
    color:#fff;
    position: absolute;
    top: 8px;
    left: 35px;
    font-weight: 500;
    font-size: 18px;
    min-width: 25px;
    z-index: 10;
  }
.btn_menu{
  height: 30px;
  width: 30px;
}