<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home" ></ion-back-button>
    </ion-buttons>
    <ion-title>{{product.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-avatar slot="start" >
      <img [src]="product.picture">
    </ion-avatar> 
    <ion-card-header>  
      <ion-card-title>{{product.name}}  </ion-card-title> 
      <ion-text  color="success" class="ion-float-right" *ngIf="product.totalamount > 0" >In Stock </ion-text>
      <ion-text  color="danger"  class="ion-float-right" *ngIf="product.totalamount == 0" >not available </ion-text>

    </ion-card-header>

    <ion-card-content>
      
        <ion-text>
          {{product.description}}
        </ion-text><br>
      

      <ion-text color="dark">Adresse :{{product.adresse}}</ion-text><br>
      <ion-text color="dark">Phone number : {{product.tel}}</ion-text><br>
      <ion-text color="warning"  class="ion-float-right"> {{product.totalamount}} pieces left</ion-text>

      <br>  
    </ion-card-content>

  </ion-card>
</ion-content>

