<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home" ></ion-back-button>
    </ion-buttons>
    <ion-title>details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-avatar slot="start" >
      <img [src]="product.picture">
    </ion-avatar> 
    <ion-card-header>  
      <ion-card-title>{{product.name}}  </ion-card-title> 
      <ion-text  color="success" style="float: right;" *ngIf="product.totalamount > 0" >In Stock </ion-text>
      <ion-text  color="danger"  style="float: right;" *ngIf="product.totalamount == 0" >not available </ion-text>

    </ion-card-header>

    <ion-card-content>
      
      <p align="justify">{{product.description}}</p> 

      <ion-text color="dark"><h3>Adresse :{{product.adresse}}</h3></ion-text>
      <ion-text color="dark"><h3>Phone number : {{product.tel}}</h3></ion-text>
      <ion-text color="warning" style="float: right;"><h3> {{product.totalamount}} pieces left</h3></ion-text>

      <br>  
    </ion-card-content>

  </ion-card>
</ion-content>

