<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="back()" ></ion-back-button>
    </ion-buttons>
    <ion-title>Order Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
 <ion-list>
  <ion-text color="dark"><p>{{commande.cart.length}} products</p></ion-text>
  <ion-text color="primary"><p>{{ commande.total  | currency: 'TND'}}</p></ion-text>
</ion-list>
  <ion-text color="dark" style="float: inline-end;margin-left: 150px;">
    <p>{{commande.type}}</p>
    
  </ion-text>
</ion-item>
<ion-label class="item">Items</ion-label>
<ion-card *ngFor="let item of commande.cart">
  <ion-item>
  <ion-avatar slot="start" >
    <img [src]="item.picture">
  </ion-avatar> 
  <ion-note slot="start" color="dark">
   <h4>{{item.name }}</h4> 
   <p>Qte : {{item.amount }}</p> 
    
  </ion-note>
</ion-item>
  </ion-card>

 
</ion-content>
