<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Edit Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="product.name" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea rows="4" [(ngModel)]="product.description" ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="product.picture"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="product.price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" [(ngModel)]="product.totalamount" ></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveProduct()" expand="block">
      Save Product
    </ion-button>
  </ion-toolbar>
</ion-footer>
